.home__wrapper {
  position: relative;
}
.home__hero {
  height: 100vh;
}


.home__hero__content {
  font-size: 10vh;
  position: relative;
  top: 25vh;
  left: 50vw;
  display: flex;
  display: inline-block;
}

.home__hero__content__text__bold {
  font-weight: 1000;
  margin: 0;
}

.home__hero__content__text{
  margin: 0;
}

@media only screen and (max-width: 800px){
  .home__hero {
    height: 100vh;
    width: 95vw;
  }
  
  .home__hero__content {
    font-size: 7vh;
    position: relative;
    top: 10vh;
    left: 10vw;
    display: flex;
    display: inline-block;
  }
}

.home__whatwedo {
  /* height: 60vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1000px){
  .home__whatwedo{
    flex-direction: column-reverse;
    gap: 2vh;
  }
}

.home__whatwedo_text__heading {
  font-size: xx-large;
  margin-bottom: 5vh;
}

.home__whatwedo_text {
  width: 40vw;
  /* From https://css.glass */
background: rgba(255, 180, 180, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 180, 180, 0.3);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5vh 10vh;
}

.accordian__main{
  margin: 10vh 20vw;
}

@media only screen and (max-width: 1000px) {
  .home__whatwedo_text{
    padding: 5vh 5vh;
    width: 60vw;
  }
  .home__whatwedo_photo__photo{
    width: 70vw;
  }
}

.about__us__quote{
  margin-top: 10vh;
  padding: 0 20vw;
}

.about__us__quote__quote{
  font-weight: 600;
  display: flex;
  justify-content: center ;
  align-items: center;
}

.latest_youtubevideo__heading{
    font-size: xx-large;
    margin-top: 10vh; 
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.latest__youtubevideo_video{
  margin: 5vh;
    display: flex;
    justify-content: center;
}

.accordion__button{
  width: auto;
}


.team__heading{
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  font-size: 5vh;
}

.team__end{
  margin: 5vh 15vw;
  display: flex;
  justify-content: center;
  font-size: 4vh;
}