.logo_img {
  width: 10vw;
  height: auto;
}

.nav__main {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 8px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(255, 139, 139);
  z-index: 10;
}

.nav_right {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.nav_youtubebtn {
  padding: 10px 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.nav_youtubebtn:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}

.nav_link {
  padding: 1px;
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  margin-right: 2.5vw;
  color: black;
  text-decoration: none;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: red;
}


.nav__main__mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav__main {
    display: none;
  }

  .nav__main__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    /* border: 1px solid black; */
    z-index: 100;
    box-shadow: 1px 1px 10px rgb(255, 139, 139);
    overflow-x: hidden;
  }

  .logo_img {
    width: 40vw;
    height: auto;
  }

  .nav__main__mobile__right{
    padding-right: 2vw;
  }
}


.hide{
  display: none;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.nav__mobile__display{
  height:85vh;
  /* border: 1px solid black; */
  width: 70vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(255, 139, 139);

  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  animation: slideIn 0.5s forwards; /* Animation for sliding in */
  
}

@keyframes slideIn {
  from {
    transform: translateX(+200%); /* Start off-screen to the left */
  }
  to {
    transform: translateX(0); /* Slide in to the center of the screen */
  }
}

.nav__mobile__links{
  margin-top: 10vh;
  padding: 5vw;
  display: flex;
  gap: 1vh;
  flex-direction: column;
}


.link_to_youtube{
  display: flex;
  padding: 5px 5px;
  border: 1px solid rgb(83, 83, 83);
  border-radius: 10px;
}

.link_to_youtube:active{
  border:1px solid red;
  color: red;
}

.link__mobile{
  padding: 0px 5px;
}

.accordian__main{
  margin: 10vh 10vw;
}